{
  "parser": "@typescript-eslint/parser",
  "plugins": [
    "@typescript-eslint",
    "prettier",
    "react",
    "import",
    "react-hooks"
  ],
  "extends": [
    "airbnb-typescript",
    "plugin:@typescript-eslint/recommended",
    "plugin:react/recommended",
    "plugin:prettier/recommended",
    "prettier/@typescript-eslint",
    "prettier/react"
  ],
  "parserOptions": {
    "ecmaVersion": 2018,
    "sourceType": "module",
    "ecmaFeatures": {
      "jsx": true
    }
  },
  "rules": {
    "react-hooks/rules-of-hooks": "error",
    "import/prefer-default-export": "off",
    "no-empty-function": "off",
    "no-useless-constructor": "off",
    "lines-between-class-members": "off",
    "@typescript-eslint/no-namespace": "off",
    "@typescript-eslint/no-parameter-properties": "off",
    "react/self-closing-comp": [
      "error",
      {
        "component": true,
        "html": true
      }
    ],
    "react-hooks/exhaustive-deps": "off",
    "import/no-extraneous-dependencies": ["error", { "devDependencies": true }],
    "react/prop-types": "off",
    "no-param-reassign": "off",
    "explicit-function-return-type": "off",
    "@typescript-eslint/no-var-requires": "off",
    "react/button-has-type": "off",
    "jsx-a11y/anchor-is-valid": "off",
    "import/named": "off",
    "@typescript-eslint/explicit-function-return-type": "off"
  },
  "overrides": [
    {
      "files": ["*.ts", "*.tsx"],
      "rules": {
        "@typescript-eslint/explicit-function-return-type": ["error"],
        "@typescript-eslint/no-var-requires": ["error"]
      }
    }
  ],
  "settings": {
    "react": {
      "version": "detect"
    },
    "import/parsers": {
      "@typescript-eslint/parser": [".ts", ".tsx"]
    },
    "import/resolver": {
      "typescript": {}
    }
  },
  "env": {
    "browser": true,
    "node": true,
    "jest": true
  }
}
